<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href = "/css/styles.css" rel = "stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
</head>

<body>
   <header>
       <img width="100%" src = "./images/logo-mercado-liebre.svg" alt = "Logo de la empresa">
<br></br>
        <div class="topnav">
            <input type="text" placeholder="Buscar productos, marcas">
          <i class="fas fa-search"></i>
        </div>
<br></br>   
       <p class= "header-phrase"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
    
<br></br>
       <nav>
           <ul class=  "lista">
                <li>
                    <a   href= "#">Ofertas</a>
                </li>

                <li>
                    <a   href= "#">Tiendas oficiales</a>
                </li>

                <li>
                    <a   href= "#">Vender</a>
                </li>

                <li>
                    <a   href= "#">Ayuda</a>
                </li>

<br></br>
                <li>
                  <a   href= "#">Creá tu cuenta</a> <i class="far fa-user-circle"></i> </a>
                </li>
                
                <li>
                  <a   href= "#">Ingresá</a> <i class="fas fa-sign-in-alt"></i></a>
                </li>

                <li>
                  <a   href= "#">Mis compras</a> <i class="fas fa-shopping-basket"></i>
                </li>
           </ul>      
       </nav>

        <div class = "menu-burger"><i class="fas fa-bars"> </i>
        
        </div>

    </header>
    
<main>
    <img width="100%" class="banner" src=".\images\img-home-banner.jpg" alt="banner">
    <br></br>
    <section>
        
        <h3 class = "titulos"> Basado en tu última visita </h3>

        <article>
            <img width="100%" src = "./images/img-cafetera-moulinex.jpg" alt= "Imagen de cafetera moulinex">
        
            <p class= "precio" >$6.770</p>
            <p class= "descuentos" >40% OFF</p>
            <p class = "Descripciones"><strong>Cafetera Moulinex</strong></p>
        
        </article>
    <br></br>        <article>

            <img width="100%" src = "./images/img-macbook-pro-2019.jpg" alt= "Imagen de macbook pro">
            <p class= "precio" >$230.000</p>
            <p class= "descuentos" >20% OFF</p>
            <p class = "Descripciones"><strong>Macbook PRO 2019</strong></p>
        
        </article>
    <br></br>        <article>

            <img width="100%"  src = "./images/img-samsung-galaxy-s10.jpg" alt= "Imagen de Samsung Galaxy S10">
            <p class= "precio" >$70.500</p>
            <p class= "descuentos" >10% OFF</p>
            <p class = "Descripciones"><strong>Samsung Galaxy S10</strong></p>

        </article>
    <br></br>        <article>

            <img width="100%"  src = "./images/img-tv-samsung-smart.jpg" alt= "Imagen de Samsung SmarTv">
            <p class= "precio" >$23.200</p>
            <p class= "descuentos" >5% OFF</p>
            <p class = "Descripciones"><strong>SmarTv Samsung 43"</strong></p>
        </article>
    </section>

    <br></br>
    <section>
        <h3 class = "titulos">Sección de Ofertas</h3>

            <article>
                <img width="100%"  src = "./images/img-cafetera-moulinex.jpg" alt= "Imagen de cafetera moulinex">
                <p class= "precio" >$6.770</p>
                <p class= "descuentos" >40% OFF</p>
                <p class = "Descripciones"><strong>Cafetera Moulinex</strong></p>
            
            </article>
    <br></br>            <article>
    
                <img width="100%"  src = "./images/img-macbook-pro-2019.jpg" alt= "Imagen de macbook pro">
                <p class= "precio" >$230.000</p>
                <p class= "descuentos" >20% OFF</p>
                <p class = "Descripciones"><strong>Macbook PRO 2019</strong></p>
            
            </article>
    <br></br>            <article>
    
                <img width="100%"  src = "./images/img-samsung-galaxy-s10.jpg" alt= "Imagen de Samsung Galaxy S10">
                <p class= "precio" >$70.500</p>
                <p class= "descuentos" >10% OFF</p>
                <p class = "Descripciones"><strong>Samsung Galaxy S10</strong></p>
    
            </article>
    <br></br>            <article>
    
                <img width="100%"  src = "./images/img-tv-samsung-smart.jpg" alt= "Imagen de Samsung SmarTv">
                <p class= "precio" >$23.200</p>
                <p class= "descuentos" >5% OFF</p>
                <p class = "Descripciones"><strong>SmarTv Samsung 43"</strong></p>
                </article>

    </section>

</main>

<br></br>
<br></br>
<br></br>

<footer>
        <section>

            <figure> 
                <i  class="fas fa-credit-card"></i>
            </figure>

            <h3>Pagá con tarjeta o en efectivo</h3>
                
            <p>Con Mercado Liebre Cash, tenés cuotas 
                sin interés con tarjeta o efectivo en puntos de 
                pago. Y siempre es seguro!</p>
        </section>
    <br></br>        <section>
            <figure> 
                <i class="fas fa-gift"></i>
            </figure>
                      
            <h3> Envío gratis desde $2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre 
                    tenés envíos gratis en miles de productos. Es 
                    un beneficio de Mercado Puntos.</p>

        </section>
    <br></br>        <section>
            <figure> 
                <i class="fas fa-shield-alt"></i>
            </figure>
            <h3>Seguridad, de principio a fin</h3>
                <p>No te gusta? Devolvelo! En Mercado Liebre, 
                    no hay nada que no puedas hacer, por que estas 
                    siempre protegid@</p>
        </section>
    <br></br>        
            <h3>Copyritght © 1999-2020 MercadoLiebre S.R.L</h3>
        

</footer>

</body>
</html>