<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>
<body>
   <header>
       <div><img src = "./images/logo-mercado-liebre.svg" alt = "Logo de la empresa"></div>
       <p>Comprá en cuotas y sin tarjeta de crédito</p>
       <nav>
           <ul>
              <li><a   href= "#">Ofertas</li> 
              <li><a   href= "#">Tiendas oficiales</li>
              <li><a   href= "#">Vender</li>
              <li><a   href= "#">Ayuda</li>
           </ul>

           <ul>
            <li><a   href= "#">Creá tu cuenta</li> 
            <li><a   href= "#">Ingresá</li>
            <li><a   href= "#">Mis compras</li>
         </ul>
       </nav>
    </header>
<main>
    <section>
        <a><h3>Basado en tu última visita</h3>
        <article>
            <img src = "./images/img-cafetera-moulinex.jpg" alt= "Imagen de cafetera moulinex">
        <a>$6.770</a>
        <a>40% OFF</a>
        </article>

    </section>
</main>
</body>
</html>