<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/css/styles.css" rel = "stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
        <header class="main-header">
            <div class="top">
                 <img src = "./images/logo-mercado-liebre.svg" alt = "Logo de la empresa" class="logo">
     
                 <div class="search">
                     <input type="text" name="buscador" placeholder="Buscar productos, marcas  ">
                 
     
                      
                     <i class="fas fa-search"></i>
                </div>
     
             
                 <p class= "header-phrase">
                     <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
                 </p>
     
             </div>
         
     <br></br>
            <nav class="main-navbar">
                <ul class=  "left-navbar">
                     <li>
                         <a   href= "#">Ofertas</a>
                     </li>
     
                     <li>
                         <a   href= "#">Tiendas oficiales</a>
                     </li>
     
                     <li>
                         <a   href= "#">Vender</a>
                     </li>
     
                     <li>
                         <a   href= "#">Ayuda</a>
                     </li>
     
                </ul>
     
     <br></br>   
                 <ul class="rigth-navbar">
                     <li>
                       <a   href= "/register">Creá tu cuenta</a><i class="far fa-user-circle"></i> </a>
                     </li>
                     
                     <li>
                       <a   href= "/login">Ingresá</a> <i class="fas fa-sign-in-alt"></i></a>
                     </li>
     
                     <li>
                       <a   href= "#">Mis compras</a> <i class="fas fa-shopping-basket"></i>
                     </li>
                </ul>
     
            </nav>
     
             <div 
                 
                 class = "menu-burger"><i class="fas fa-bars"> </i>
             
             </div>
             
         </header>

    
<main>
    <div class="articlelogin">
        <form action="/login" method="post">
        
            <div class="login">
                <input type="text" placeholder="Nombre de usuario" class="formulario-login" required minlength="4">
                <br>
                <br>
                <input type="password" placeholder="Contraseña" class="formulario-login" required>
            
        <br>
        
                    <button type="submit" class="boton-login">Ingresar</button>
        
            </div>
        </form>  
</main>

<footer>
    <section>

        <figure> 
            <i  class="fas fa-credit-card"></i>
        </figure>

        <h3>Pagá con tarjeta o en efectivo</h3>
            
        <p>Con Mercado Liebre Cash, tenés cuotas 
            sin interés con tarjeta o efectivo en puntos de 
            pago. Y siempre es seguro!</p>
    
    </section>

<br></br>

    <section>
        <figure> 
            <i class="fas fa-gift"></i>
        </figure>
                  
        <h3> Envío gratis desde $2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre 
                tenés envíos gratis en miles de productos. Es 
                un beneficio de Mercado Puntos.</p>

    </section>

<br></br>        

    <section>

        <figure> 
            <i class="fas fa-shield-alt"></i>
        </figure>
        <h3>Seguridad, de principio a fin</h3>
            <p>No te gusta? Devolvelo! En Mercado Liebre, 
                no hay nada que no puedas hacer, por que estas 
                siempre protegid@</p>

    </section>

<br></br>   

        <h3>Copyritght © 1999-2020 MercadoLiebre S.R.L</h3>
    

</footer>

</body>

</html>