.login{
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50%;
    color: #EAC926;
}


.article-login{
    margin-bottom: 10px;
    background-color: var(--white);
    margin-top: 10px ;
    border-top: solid 1px #ebebeb;

    
}

.formulario-login{
    border-radius: 3px;
    border: solid 1px var(--grey-dark);
}

.boton-login{
    background-color: var(--green);
    color: var(--white);
    border-radius: 3px;
    font-size: 16px;
    border: solid 1px var(--grey-dark);
}


.main-header-login{
    
    width: 100%;
    text-align: center;
    
}
