.login{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 50%;
    color: #EAC926;
}


.article-login{
    margin-bottom: 10px;
    background-color: var(--white);
    margin-top: 10px ;
    border-top: solid 1px #ebebeb;

    
}
.caja-login{
    background-color: var(--white);
    border-radius: 10px;
    border: solid 3px blue;
    max-width: 50%;
    min-height: 50%;
    margin: 50px auto 50px;
    background-color: #EAC926 ;
    
}
.formulario-login{
    border-radius: 10px;
    border: solid 2px blue;
    text-align: center;
    max-height: 50px;
    max-width: 150px;
    display: flex;
position: relative;
}

.boton-login{
    background-color: var(--green);
    color: var(--white);
    border-radius: 3px;
    font-size: 16px;
    border: solid 1px blue;
}


.main-header-login{
    
    width: 100%;
    text-align: center;
    
}



@media (min-width: 768px){

}




@media (min-width: 361px){
    

.formulario-login{
        border-radius: 10px;
        border: solid 2px blue;
        text-align: center;
        max-height: 35px;
        max-width: 150px;
        display: flex;
        position: relative;
    
}

