:root {
    --blue: #03264C;
    --cyan: #1259c3;
    --green: #39b54a;
    --yellow: #EAC926;
    --grey-dark: #666;
    --grey-light: #ebebeb;
    --white: #FFF;
    --black: #000;

    --font-family: Roboto;

    --font-size: 12px;
    --font-size-title: 24px;
    --font-size-price: 18px;
    --font-size-subtitle: 16px;

    --icon-size-lg: 2em;

    --spacing: 15px;
    --spacing-sm: 10px;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

main{
  text-align: center;
  width: 90%;
  margin: auto;
}
 .top{
     width: 100%;
     text-align: center;
     display: flex;
     justify-content: space-between;
     flex-direction: row;
     align-items: center;
 }

 
article{
    margin-bottom: 10px;
    background-color: var(--white);
    margin-top: 10px ;
    border-top: solid 1px #ebebeb;

    
}

body {
    background-color: var(--grey-light);
    font-family: var(--font-family);
    font-size: var(--font-size);
    width: 100vw;
}


header{
    background-color: var(--yellow);
    padding: 20px;
    
}

.logo{
    width: 200px;
}

.header-phrase{
   
    font-weight: 400;
    
}


.titulos{
    font-size: var(--font-size-title);
    text-align: center;
}

.main-navbar {
    display: none;
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: var(--font-size-subtitle);
}
.search{
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    
}
.search-button{
    background-color:var(--grey-light) ;
    display: block;
    max-width: 50px;
    margin: auto;
    font-size: 15px;
    text-align: center;
    padding: 3px 3px ;
    color: white;
    border-radius: 8px;
    color: var(--grey-dark);
    margin: -18px;

}
.precio {
    font-size: var(--font-size-price);
    flex-grow: 0.3; 
   
}

.precioYdescuentos{
    display: flex; 
    padding: 10px;  
    justify-content: flex-start; 
}

.descuentos{
    font-size: var(--font-size-subtitle);
    color: var(--green);
    flex-grow: 0.7;

}

.Descripciones{
    font-size: var(--font-size-subtitle);
    display: none;
}

section article{
    position:relative;
}

.logoEnvio{
    color: var(--green);
    display: block;
    font-size: var(--font-size-subtitle);
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position:absolute;
    right: 20px;
    top: -15px;
}


.caja{
    border-top: solid 1px #ebebeb;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
    }



.menu-burger{
    background-color: var(--cyan);
    display: block;
    max-width: 50px;
    margin: auto;
    font-size: 18px;
    text-align: center;
    padding: 15px 0;
    color: white;
    border-radius: 8px;
}




footer{
    text-align: center;
    background-color: var(--white);
}

footer figure i{
    color: var(--cyan);
    font-size: var(--icon-size-lg);
    margin-bottom: var(--spacing-sm);
}

.create-form{
    list-style: none;
    padding: 20px 15px;
}

.control-formulario{
    margin-bottom: 15px;
}
.control-formulario label{
    margin-bottom: 5px;
    font-style: italic;
    display: block;
}
.control{
    width: 100%;
    padding: 8px 8px;
}

.boton-formulario{
    background-color: var(--green);
    border: none;
    font-size: 20px;
    color: var(--white);
    padding: 5px 10px;
    border-radius: 5px;
}

@media (min-width: 768px){

    .top{
        display: flex;
        justify-content: space-between;
    
    }
    .header-phrase{
        max-width: 350px;
        text-align: right;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main-navbar{
        display: flex;
        justify-content: space-between;
    }
    .main-navbar ul{
        display: flex;
    }
    .main-navbar li{
        margin: 0 5px;
    }
    .Descripciones{
        display: block;
    }

    .menu-burger{
        display: none;
    }
}

@media (min-width: 1200px){

    .logo{
        width: 250px;
    }

    .top{
        align-items: center;
    
    }
    .header-phrase{
        max-width: none;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
    }
    article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    .main-navbar .top {
        max-width: 1200px;
        margin: auto;
        
    }
    .main-navbar {
        margin-top: 50px;
    }
    .main-navbar li {
        margin: 0 10px;
    }
    .main-navbar a {
        font-size: var(--font-size-subtitle);
    }
    .Descripciones{
        display: block;
    }

    .menu-burger{
        display: none;
    }
}
